html, body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-image: url(../images/music_background.jpg);

}

header {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
}

.sidebar {
  display:flex;
  flex-direction:row;
}

.sidebar-item {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}

.sidebar-item {
  padding: 15px;
  color: #000000;
  border: 0px solid #FFFFFF
  transition: 0.5s;
}


.sidebar-item:hover {
  color: #000000;
  opacity: 0.25;
  cursor: pointer;
  transition: 0.3s;
}


.sidebar a {
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  width: 100%;
}

.sidebar a .sidebar-item {
  margin-left: 3px;
}

.Title1 {
  font-family: 'Tangerine', sans-serif;
  align-items: center;
  font-size: 80px;
  margin-top: 100px;
  margin-left: 550px;
}

.Lyrics {
  font-family: 'Algreya SC', sans-serif;
  font-size: 25px;
  margin-left: 550px;
}

.stanza1 {
 margin-top: 75px;
 line-height: 0.5;
}

.stanza2 {
  margin-top: 75px;
  line-height: 0.5;
}

.stanza3 {
  margin-top: 75px;
  line-height: 0.5;
}

.stanza4 {
  margin-top: 75px;
  line-height: 0.5;
}

.refrain {
  margin-top: 75px;
  line-height: 0.5;
  margin-bottom: 100px;
}
